*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100vh;
}

.page {
	display: grid;
	justify-items: center;
	align-items: center;
	min-height: 100%;
	margin: auto;
	color: #fff;
	font-family: 'Fira Sans Condensed', sans-serif;
	font-weight: 400;
	font-size: 18px;
	font-style: normal;
	background-color: #1b1919;
	inline-size: 1200px;
	block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	inline-size: 1px;
	block-size: 1px;
	clip-path: inset(50%);
	white-space: nowrap;
}

.content {
	display: flex;
	align-items: flex-end;
	gap: 30px;
	max-width: 1140px;
	min-height: 534px;
}

.result {
}

.result__video-container {
	position: relative;
	width: 711px;
	height: 386px;
	margin-bottom: 16px;
}

.result__video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.search-form {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.search-form fieldset {
	border: 0;
}

button {
	align-self: flex-end;
	box-sizing: border-box;
	width: 194px;
	height: 34px;
	border: 1px solid #fff;
	color: #fff;
	font-family: 'Fira Sans Condensed', sans-serif;
	font-weight: 400;
	font-size: 18px;
	font-style: normal;
	background-color: transparent;
	cursor: pointer;
}

.more-button {
	width: 100%;
}

button:hover {
	text-decoration: underline;
}

button:focus-visible {
	outline: 1px solid #fff;
	text-decoration: none;
}

button:active {
	text-decoration: none;
	background: #545050;
}

.search-form__label {
	display: flex;
	align-items: center;
	width: fit-content;
	cursor: pointer;
}

.search-form__label:has(:focus-visible) {
	outline: 1px solid #fff;
	text-decoration: none;
}

.search-form__label:has(:hover) {
	outline: 1px solid transparent;
	text-decoration: underline;
}

.search-form__label:has(:active) {
	outline: 1px solid transparent;
	text-decoration: none;
}

.search-form__label-text {
	margin-left: 24px;
}

.search-form__submit-button {
	cursor: pointer;
}

.search-form__textfield {
	box-sizing: border-box;
	width: 225px;
	margin-top: 5px;
	border: none;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	color: #fff;
	font-family: 'Fira Sans Condensed', sans-serif;
	font-weight: 400;
	font-size: 18px;
	font-style: normal;
	background-color: transparent;
	appearance: none;
}

.search-form__textfield:focus {
	outline: none;
}

.search-form__fieldset-title {
	color: #fff;
	font-family: 'Fira Sans Condensed', sans-serif;
	font-weight: 400;
	font-size: 18px;
	font-style: normal;
}

.search-form__checkbox-list {
	display: flex;
	gap: 15px;
	margin-top: 5px;
}

.search-form__pseudo-checkbox {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 19px;
	height: 19px;
	border: 1px solid #fff;
}

.search-form__checkbox[type='checkbox']:checked
	+ .search-form__pseudo-checkbox::before {
	content: '';
	display: block;
	width: 14px;
	height: 14px;
	background-color: #fff;
}

.search-form__pseudo-checkbox:active::before {
	content: '';
	display: block;
	width: 14px;
	height: 14px;
	margin: 2px;
	background-color: #fff;
}

.content__details {
	display: flex;
	flex-direction: column;
	gap: 26px;
	width: 100%;
	height: 100%;
}

.content__card-link {
	display: block;
	margin: 2px 2px;
	color: #fff;
	text-decoration: none;
}

.content__card-link_current {
	background-color: #545050;
}

.title {
	font-family: Oswald, sans-serif;
	font-weight: 700;
	font-size: 75px;
	line-height: 94%;
	text-transform: uppercase;
}

.title .content__accent {
	color: #545050;
}

.content__list {
	position: relative;
	width: 100%;
	height: 298px;
	overflow-y: auto;
}

.content__list-item {
	height: fit-content;
	/* margin: 1px; */
}

.content__list .content__list-item:not(:last-child) {
	margin-bottom: 30px;
}

.content__card-link:focus {
	outline: 1px solid #fff;
}

.content__list-item:focus-visible {
	outline: 1px solid #fff;
}

.content__list-item:hover {
	outline: 1px solid transparent;
	text-decoration: underline;
	background-color: inherit;
}

.content__list-item:active {
	text-decoration: none;
	background-color: #545050;
}

.content__video-card {
	display: flex;
	align-items: flex-start;
}

.content__video-card-thumbnail {
	box-sizing: content-box;
	width: 194px;
	/* border-top: 2px;
	border-right: 2px;
	border-bottom: 2px; */
	object-fit: cover;
	object-position: center;
}

.content__video-card-description-container {
	flex-grow: 1;
	flex-basis: auto;
	inline-size: 100%;
}

.content__video-card-description {
	margin-top: 6px;
	line-height: 16.2px;
}

.content__video-card-title {
	max-width: 200px;
	overflow: hidden;
	font-family: Oswald, sans-serif;
	font-weight: 700;
	font-size: 30px;
	line-height: 100%;
	text-transform: uppercase;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.preloader {
	position: fixed;
}

.error__title {
	font-weight: 400;
	font-style: normal;
	line-height: 110%;
	text-transform: uppercase;
}
